body{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 16px;
}
.banner{
    background-image: url(../img/lemon-pie2.jpg);
    background-size: cover;
    height: 343px;
    color: white;
    background-position: center;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');